<template lang="pug">
	nav.navbar.orange.lighten-1
		.nav-wrapper
			.navbar-left
				a(
					href="#"
					@click.prevent="$emit('click')"
				)
					i.material-icons.black-text dehaze
				.date.hide-on-med-and-down
					span.black-text {{ date | date('datetime') }}
			.balance.black-text.right {{ account_balance | currency('RUB') }}
			ul.right.hide-on-small-and-down
				li
					a.dropdown-trigger.black-text(
						ref="dropdown"
						href="#"
						data-target="dropdown"
						) {{ info ? info.name : '-' }}
							i.material-icons.right arrow_drop_down
					ul(
						:style="{width: '150px!important;'}"
					)#dropdown.dropdown-content
						li
							router-link(to="/profile").black-text
								i.material-icons account_circle
								span {{ 'ProfileTitle' | localize }}
						li.divider(tabindex="-1")
						li
							a(href="#" @click.prevent='$emit("logout")').black-text
								i.material-icons assignment_return
								span {{ 'Logout' | localize }}
</template>

<script>
	import M from "materialize-css"
	import { mapGetters } from 'vuex'

	export default {
		name: 'Navbar',
		props: {
			user: {
				type: Object,
				default: () => ({})
			},
			account_balance: {
				type: Number,
				default: null
			}
		},
		data() {
			return {
				date: new Date(),
				dropdown: null,
				interval: null
			}
		},
		computed: {
			...mapGetters(['info']),
		},
		mounted() {
			this.interval = setInterval(() => {
				this.date = new Date()
			}, 1000)
			this.dropdown = M.Dropdown.init(this.$refs.dropdown, {
				constrainWidth: false,
				coverTrigger: false
			})
		},
		beforeDestroy() {
			clearInterval(this.interval)
			if (this.dropdown && this.dropdown.destroy) {
				this.dropdown.destroy()
			}
		}
	}
</script>

<style scoped>
	a.dropdown-trigger {
		padding-right: 3rem;
	}
</style>
