<template lang="pug">
	ul(
		ref="sidenav"
	).app-sidenav.sidenav
		ul(ref="user").collapsible.expandable.show-on-small.hide-on-med-and-up
			li
				a.collapsible-header.collapsible-header-link.left-align.black-text(
					href="#"
				)
					span {{ info ? info.name : '-' }}
					i.no-margin.material-icons.right arrow_drop_down
				ul.collapsible-body
					li.left-align
						router-link(to="/profile" @click.native='$emit("click")').black-text
							span {{ 'ProfileTitle' | localize }}
					li.left-align
						a(href="#" @click.prevent='$emit("logout")').black-text
							span {{ 'Logout' | localize }}
			.divider.no-margin
		router-link(
			v-for="link in links"
			:key="link.url"
			tag="li"
			active-class="active"
			:to="link.url"
			:exact="link.exact"
			@click.native='$emit("click")'
		).left-align
			a.waves-effect.waves-orange.pointer {{ link.title | localize }}
</template>

<script>
	import M from 'materialize-css'

	export default {
		name: 'Sidebar',
		props: {
			value: {
				type: Boolean,
				default: true
			},
			info: {
				type: Object,
				default: () => ({})
			}
		},
		data() {
			return {
				sideNav: null,
				collapsible: null,
				links: [
					{
						title: 'Menu_Account',
						url: '/',
						exact: true
					},
					{
						title: 'Menu_History',
						url: '/history',
					},
					{
						title: 'Menu_Planning',
						url: '/planning',
					},
					{
						title: 'Menu_NewRecord',
						url: '/record',
					},
					{
						title: 'Menu_Categories',
						url: '/categories',
					},
				]
			}
		},
		watch: {
			value: {
				handler(v) {
					if (v) {
						this.sideNav.open()
					} else {
						this.sideNav.close()
					}
				}
			}
		},
		mounted() {
			this.sideNav = M.Sidenav.init(this.$refs.sidenav)
			this.collapsible = M.Collapsible.init(this.$refs.user, { accordion: false })
		},
		destroyed() {
			if (this.sideNav && this.sideNav.destroy) {
				this.sideNav.destroy()
			}
			if (this.collapsible && this.collapsible.destroy) {
				this.collapsible.destroy()
			}
		},
	}
</script>

<style scoped>
	.no-margin {
		margin: 0!important;
	}

	.collapsible-header-link {
		padding: 0 2.1rem!important;
		display: inline-block;
		width: 100%;
	}
</style>
