<template lang="pug">
	div.home
		.page-title
			h3 {{ 'AccountTitle' | localize }}
			button(
				@click="refresh"
			).btn.waves-effect.waves-light.btn-small
				i.material-icons refresh
		loader(
			v-if="loading"
		)
		.row(
			v-else
		)
			.col.s12.m6.l4
				currency(
					:rates="currency.rates"
				)
			.col.s12.m6.l8
				exchange(
					:rates="currency.rates"
					:date="currency.date"
				)
</template>

<script>
	import Currency from '@/components/AccountCurrency'
	import Exchange from '@/components/AccountExchangeRates'
	export default {
		metaInfo() {
			return {
				title: this.$title('AccountTitle')
			}
		},
		name: 'Home',
		components: {
			Currency,
			Exchange
		},
		data: function () {
			return {
				loading: true,
				currency: {
					rates: {},
					date: new Date().toDateString()
				}
			}
		},
		async mounted() {
			await this.loadCurrency()
		},
		methods: {
			async loadCurrency() {
				this.loading = true
				await this.$store.dispatch('fetchCurrency').then(data => {
					this.currency = data
				}).finally(() => {
					this.loading = false
				})
			},
			async refresh() {
				await this.loadCurrency()
			}
		}
	}
</script>
