<template lang="pug">
	div
		.page-title
			h3 {{ 'CategoriesTitle' | localize }}
		section
			loader(
				v-if="loading"
			)
			.row(
				v-else
			)
				.col.s12.m6
					create(
						@created="add"
					)
				.col.s12.m6
					edit(
						v-if="categories.length"
						:categories="categories"
						:key="categories.length + updateCount"
						@updated="update"
					).category-edit
					p(
						v-else
					).center {{ 'NoCategories' | localize }}
</template>
<script>
	import Create from '@/components/CategoryCreate'
	import Edit from '@/components/CategoryEdit'

	export default {
		metaInfo() {
			return {
				title: this.$title('NewCategoryTitle')
			}
		},
		name: 'Categories',
		components: {
			Create,
			Edit
		},
		props: {},
		data() {
			return {
				loading: true,
				categories: [],
				updateCount: 0
			}
		},
		computed: {},
		async mounted() {
			this.loading = true
			await this.$store.dispatch('fetchCategories').then(data => {
				this.categories = data
			}).catch(e => {
				this.$error(e)
			}).finally(() => {
				this.loading = false
			})
		},
		methods: {
			add(category) {
				this.categories.push(category)
			},
			update(category) {
				const idx = this.categories.findIndex(c => c.id === category.id)
				this.categories[idx] = category
				this.updateCount++
			}
		}
	}
</script>

<style scoped></style>
