<template lang="pug">
	div
		loader(
			v-if="loading"
		)
		div(
			v-else-if="record"
		)
			.breadcrumb-wrap
				router-link(
					to="/history"
				).breadcrumb {{ 'HistoryTitle' | localize }}
				a(
					@click.prevent
				).breadcrumb {{ record.type | capitalize | localize }}
			.row
				.col.s12.m6
					.card(
						:class="[record.type === 'outcome' ? 'red' : 'green']"
					)
						.card-content.white-text(
							:style="{display: 'grid', 'padding-bottom': '34px'}"
						)
							p.left-align {{ 'Description' | localize }}: {{ record.description }}
							p.left-align {{ 'Amount' | localize }}: {{ record.amount | currency('RUB') }}
							p.left-align {{ 'Category' | localize }}: {{ record.categoryName }}
							p.left-align
								small(
								:style="{'padding-top': '0.4rem'}"
								).left {{ record.date | date('datetime') }}
		p(
			v-else
		).center {{ 'RecordById' | localize }}
			b {{$route.params.id}}
			|  {{ 'NotFound' | localize }}
</template>

<script>
	export default {
		metaInfo() {
			return {
				title: this.$title('DetailTitle')
			}
		},
		name: 'DetailRecord',
		props: {
			id: {
				type: [Number, String],
				default: null
			},
		},
		data() {
			return {
				loading: true,
				record: null
			}
		},
		computed: {},
		async mounted() {
			const id = this.$route.params.id
			const record = await this.$store.dispatch('fetchRecordById', id)
			if (record) {
				const category = await this.$store.dispatch('fetchCategoryById', record.categoryId)

				this.record = {
					...record,
					categoryName: category.title,
				}
			} else {
				this.record = null
			}
			this.loading = false
		},
		methods: {}
	}
</script>

<style scoped>

</style>