<!--suppress JSValidateTypes -->
<template lang="pug">
	div
		.page-title
			h3 {{ 'HistoryTitle' | localize }}
		.history-chart
			canvas(
				ref="canvas"
			)
		loader(
			v-if="loading"
		)
		p(
			v-else-if="!records.length"
		).center {{ 'NoRecords' | localize }}. #[router-link(to="/record") {{ 'AddNewRecord' | localize }}]
		section(
			v-else
		)
			history-table(
				:records="items"
			)
			paginate(
				v-model="page"
				:page-count="pageCount"
				:click-handler="pageChangeHandler"
				prev-text="<"
				next-text=">"
				container-class="pagination"
				page-class="waves-effect"
				page-link-class="waves-effect"
			)
</template>

<script>
	import localize from '@/filters/localize.filter'
	import HistoryTable from '@/components/HistoryTable'
	import paginationMixin from '@/mixins/pagination.mixin'
	import { Pie } from 'vue-chartjs'

	export default {
		metaInfo() {
			return {
				title: this.$title('HistoryTitle')
			}
		},
		name: 'History',
		extends: Pie,
		components: { HistoryTable },
		mixins: [paginationMixin],
		props: {},
		data() {
			return {
				loading: true,
				records: [],
			}
		},
		computed: {},
		async mounted() {
			this.records = await this.$store.dispatch('fetchRecords')
			const categories = await this.$store.dispatch('fetchCategories')

			this.setup(categories)

			this.loading = false
		},
		methods: {
			setup(categories) {
				const r = Object.entries(this.records.reduce((acc, record) => {
					const date = new Date(record.date)
					const recordDate = `${date.getFullYear()}-${("0" + (date.getMonth() + 1)).slice(-2)}-${("0" + date.getDate()).slice(-2)}`
					const recordTime = date.toTimeString().slice(0, 8)
					// eslint-disable-next-line no-unexpected-multiline
					acc[recordDate] = acc[recordDate] || []
					acc[recordDate].push({
						...record,
						date: recordDate,
						time: recordTime,
						categoryName: categories.find(c => c.id === record.categoryId).title
					})
					return acc
				}, {}))

				this.setupPagination(r)

				this.renderChart({
					labels: categories.map(c => c.title),
					datasets: [{
						label: localize('CategoryOutcomes'),
						data: categories.map(c => {
							return this.records.reduce((acc, r) => {
								if (r.categoryId === c.id && r.type === 'outcome') {
									acc += +r.amount
								}
								return acc
							}, 0)
						}),
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}]
				})
			}
		}
	}
</script>

<style scoped>
	.pagination >>> :focus {
		box-shadow: 0 0 1px 1px #dfdcdc;
		outline: 1px solid #b1aeae;
	}
</style>