<template lang="pug">
	.container
		.row
			form(@submit.prevent="submitHandler").card.auth-card.col.xl8.l8.m9.s12.offset-xl2.offset-l2.offset-m2
				.card-content
					span.card-title {{ 'Home Accountant' | localize }}
					.input-field
						input(
							type="text"
							v-model.trim="email"
							:class="{'invalid': ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
						)#email.validate
						label(
							for="email"
						) {{ 'Email' | localize }}
						small(
							v-if="($v.email.$dirty && !$v.email.required)"
						).helper-text.invalid {{ 'EmailRequired' | localize }}
						small(
							v-else-if="($v.email.$dirty && !$v.email.email)"
						).helper-text.invalid {{ 'EmailInvalid' | localize }}
					.input-field
						input(
							type="password"
							v-model.trim="password"
							:class="{'invalid': ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minlength)}"
						)#password.validate
						label(
							for="password"
						) {{ 'Password' | localize }}
						small(
							v-if="($v.password.$dirty && !$v.password.required)"
						).helper-text.invalid {{ 'PasswordRequired' | localize }}
						small(
							v-else-if="($v.password.$dirty && !$v.password.minlength)"
						).helper-text.invalid {{ 'PasswordMinLength' | localize($v.password.params.minlength.min, password.length) }}
				.card-action
					div
						button.btn.waves-effect.waves-light.auth-submit(
							type="submit"
						) {{ 'SignIn' | localize }}
							i.material-icons.right send
					p.center {{ 'HaveNotAccount' | localize }}? {{ '&nbsp;' }}
						router-link(to="/register") {{ 'SignUp' | localize }}
</template>

<script>
	import { email, required, minLength } from 'vuelidate/lib/validators'
	import messages from '../utils/messages'

	export default {
		name: 'Login',
		props: {},
		data() {
			return {
				email: '',
				password: ''
			}
		},
		validations: {
			email: { email, required },
			password: { required, minlength: minLength(6) }
		},
		computed: {},
		mounted() {
			if (messages[this.$route.query.message]) {
				this.$message(messages[this.$route.query.message])
			}
		},
		methods: {
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch()
					return
				}

				await this.$store.dispatch('login', {
					email: this.email,
					password: this.password
				}).then(() => {
					this.$router.push('/')
				}).catch()
			}
		}
	}
</script>

<style scoped></style>
