<template lang="pug">
	div
		.page-title
			h3 {{ 'PlanningTitle' | localize }}
		loader(
			v-if="loading"
		)
		p(
			v-else-if="!categories.length"
		).center {{ 'NoCategories' | localize }}.
			router-link(
				to="/categories"
			)  {{ 'AddNewCategory' | localize }}
		section(
			v-else
		)
			div(
				v-for="category in categories"
				:key="category.id"
			)
				p
					strong {{ category.title }}: {{ category.spend | currency('RUB') }} из {{ category.limit | currency('RUB') }}
				.progress(
					v-tooltip="category.tooltip"
				)
					.determinate(
						:class="[category.progressColor]"
						:style="{width : `${category.progressPercent}%`}"
					)
</template>

<script>
	import { mapGetters } from 'vuex'
	import currency from '@/filters/currency.filter'
	import localize from '@/filters/localize.filter'

	export default {
		metaInfo() {
			return {
				title: this.$title('PlanningTitle')
			}
		},
		name: 'Planning',
		props: {},
		data() {
			return {
				loading: true,
				categories: []
			}
		},
		computed: {
			...mapGetters(['info'])
		},
		async mounted() {
			const records = await this.$store.dispatch('fetchRecords')
			const categories = await this.$store.dispatch('fetchCategories')

			this.categories = categories.map(c => {
				const spend = records.filter(r => r.categoryId === c.id && r.type === 'outcome')
						.reduce((acc, record) => {
							acc += +record.amount
							return acc
				}, 0)
				const percent = 100 * spend / c.limit
				const progressPercent = percent > 100 ? 100 : percent
				const progressColor = percent < 60 ? 'green' : percent < 100 ? 'yellow' : 'red'
				const tooltipValue = c.limit - spend
				const tooltip = `${localize(`${tooltipValue < 0 ? 'ExceedingBy' : 'Remaining'}`)} ${currency(Math.abs(tooltipValue), 'RUB')}`
				return { ...c, progressPercent, progressColor, spend, tooltip }
			})

			this.loading = false
		},
		methods: {}
	}
</script>

<style scoped>

</style>