<template lang="pug">
	div
		.page-title
			h3 {{ 'ProfileTitle' | localize }}
		form(
			@submit.prevent="submitHandler"
		).form
			.input-field
				input#description(
					v-model="name"
					type="text"
					:class="{'invalid': ($v.name.$dirty && !$v.name.required)}"
				)
				label(
					for="description"
				) {{ 'Name' | localize }}
				small(
					v-if="($v.name.$dirty && !$v.name.required)"
				).helper-text.invalid {{ 'Message_EnterName' | localize }}
			.switch(
				style="margin-bottom: 2rem"
			)
				label {{ 'English' | localize }}
					input(
						v-model="isRuLocale"
						type="checkbox"
					)
					span.lever
					| {{ 'Russian' | localize }}
			button.btn.waves-effect.waves-light(
				type="submit"
			) {{ 'Update' | localize }}
				i.material-icons.right send
</template>

<script>
	import M from 'materialize-css'
	import { mapGetters, mapActions } from 'vuex'
	import { required } from 'vuelidate/lib/validators'

	export default {
		metaInfo() {
			return {
				title: this.$title('ProfileTitle')
			}
		},
		name: 'Profile',
		props: {},
		data() {
			return {
				name: null,
				isRuLocale: true
			}
		},
		validations: {
			name: { required },
		},
		computed: {
			...mapGetters(['info'])
		},
		mounted() {
			this.name = this.info?.name || null
			this.isRuLocale = this.info?.locale === 'ru-RU'
			setTimeout(() => {
				M.updateTextFields()
			})
		},
		methods: {
			...mapActions(['updateInfo']),
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch()
					return
				}

				try {
					await this.updateInfo({
						name: this.name,
						locale: this.isRuLocale ? 'ru-RU' : 'en-US'
					})
					this.$message('DataUpdated')
				} catch (e) {
					this.$error(e)
				}
			}
		}
	}
</script>

<style scoped></style>
