<template lang="pug">
	div
		.page-title
			h3 {{ 'RecordTitle' | localize }}
		loader(
			v-if="loading"
		)
		p(
			v-else-if="!categories.length"
		).center {{ 'NoCategories' | localize }}.
			router-link(
				to="/categories"
			)  {{ 'AddNewCategory' | localize }}
		form(
			@submit.prevent="submitHandler"
			v-else
		).form
			.input-field
				select(
					ref="select"
					v-model="category"
				)
					option(
						v-for="category in categories"
						:key="category.id"
						:value="category.id"
					) {{ category.title }}
				label {{ 'SelectCategory' | localize }}
			p.left-align
				label
					input.with-gap(
						v-model="type"
						name="type"
						type="radio"
						value="income"
					)
					span {{ 'Income' | localize }}
			p.left-align
				label
					input.with-gap(
						v-model="type"
						name="type"
						type="radio"
						value="outcome"
					)
					span {{ 'Outcome' | localize }}
			.input-field
				input#amount(
					ref="amount"
					v-model.number="amount"
					type="number"
					@dblclick="$refs.amount.select()"
					:class="{'invalid': $v.amount.$dirty && !$v.amount.minValue}"
				)
				label(
					for="amount"
				) {{ 'Amount' | localize }}
				span(
					v-if="($v.amount.$dirty && !$v.amount.minValue)"
				).helper-text.invalid {{ 'MinimumAmount' | localize }} {{ $v.amount.$params.minValue.min }}
			.input-field
				input#description(
					v-model.trim="description"
					type="text"
					:class="{'invalid': ($v.description.$dirty && !$v.description.required)}"
				)
				label(
					for="description"
				) {{ 'Description' | localize }}
				span(
					v-if="($v.description.$dirty && !$v.description.required)"
				).helper-text.invalid {{ 'AddDescription' | localize }}
			button.btn.waves-effect.waves-light(
				type="submit"
			) {{ 'Create' | localize }}
				i.material-icons.right send
</template>

<script>
	import currency from '@/filters/currency.filter'
	import M from 'materialize-css'
	import { required, minValue } from 'vuelidate/lib/validators'
	import { mapGetters } from 'vuex'

	export default {
		metaInfo() {
			return {
				title: this.$title('RecordTitle')
			}
		},
		name: 'Record',
		props: {},
		data() {
			return {
				amount: 1,
				account_balance: 0,
				categories: [],
				category: null,
				description: '',
				loading: true,
				select: null,
				type: 'outcome'
			}
		},
		validations: {
			amount: { minValue: minValue(1) },
			description: { required }
		},
		computed: {
			...mapGetters(['info']),
			canCreate() {
				return this.type === 'income' || this.info.account_balance >= this.amount
			}
		},
		async mounted() {
			this.loading = true
			try {
				this.loading = true
				this.categories = await this.$store.dispatch('fetchCategories')
				if (this.categories.length > 0) {
					this.category = this.categories[0].id
				}
				this.loading = false
				this.$nextTick(() => {
					this.select = M.FormSelect.init(this.$refs.select)
					M.updateTextFields()
				})
			} catch (e) {
				this.$error(e)
			}
		},
		destroyed() {
			if (this.select && this.select.destroy) {
				this.select.destroy()
			}
		},
		methods: {
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch()
					return
				}

				if (this.canCreate) {
					try {
						await this.$store.dispatch('createRecord', {
							categoryId: this.category,
							amount: this.amount,
							description: this.description,
							type: this.type,
							date: (new Date).toJSON()
						})
						const account_balance = this.type === 'income' ? this.info.account_balance + this.amount : this.info.account_balance - this.amount
						await this.$store.dispatch('updateInfo', { account_balance })
						this.$message('Message_RecordSuccess')
						this.$v.$reset()
						this.amount = 1
						this.description = ''
					} catch (e) {
						this.$error(e)
					}

				} else {
					this.$message('Message_InsufficientFunds', currency(this.amount - this.info.account_balance))
				}
			}
		}
	}
</script>

<style scoped>

</style>