<template lang="pug">
	.container
		.row
			form(@submit.prevent="submitHandler").card.auth-card.col.xl8.l8.m9.s12.offset-xl2.offset-l2.offset-m2
				.card-content
					span.card-title {{ 'Home Accountant' | localize }}
					.input-field
						input(
							type="text"
							v-model.trim="email"
							:class="{'invalid': ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
						)#email.validate
						label(
							for="email"
						) Email
						small(
							v-if="($v.email.$dirty && !$v.email.required)"
						).helper-text.invalid {{ 'EmailRequired' | localize }}
						small(
							v-else-if="($v.email.$dirty && !$v.email.email)"
						).helper-text.invalid {{ 'EmailInvalid' | localize }}
					.input-field
						input(
							type="password"
							v-model.trim="password"
							:class="{'invalid': ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minlength)}"
						)#password.validate
						label(
							for="password"
						) {{ 'Password' | localize }}
						small(
							v-if="($v.password.$dirty && !$v.password.required)"
						).helper-text.invalid {{ 'PasswordRequired' | localize }}
						small(
							v-else-if="($v.password.$dirty && !$v.password.minlength)"
						).helper-text.invalid {{ 'PasswordMinLength' | localize($v.password.$params.minlength.min, password.length) }}
					.input-field
						input(
							type="text"
							v-model.trim="name"
							:class="{'invalid': ($v.name.$dirty && !$v.name.required)}"
						)#name.validate
						label(
							for="name"
						) {{ 'Name' | localize }}
						small(
							v-if="($v.name.$dirty && !$v.name.required)"
						).helper-text.invalid {{ 'NameRequired' | localize }}
				.card-action
					div
						button.btn.waves-effect.waves-light.auth-submit(
							type="submit"
						) {{ 'SignUp' | localize }}
							i.material-icons.right send
					p.center {{ 'HaveAccount' | localize }}?
						router-link(
							to="/login"
						)  {{ 'SignIn' | localize }}!
</template>

<script>
	import { email, required, minLength } from 'vuelidate/lib/validators'

	export default {
		name: 'Register',
		props: {},
		data() {
			return {
				email: '',
				password: '',
				name: '',
			}
		},
		validations: {
			email: { email, required },
			password: { required, minlength: minLength(6) },
			name: { required }
		},
		methods: {
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch()
					return
				}

				await this.$store.dispatch('register', {
					email: this.email,
					password: this.password,
					name: this.name
				}).then(() => {
					this.$router.push('/')
				}).catch()
			}
		}
	}
</script>

<style scoped>

</style>