<template lang="pug">
	.card.light-blue.bill-card
		.card-content.white-text
			span.card-title {{ 'AccountCurrencyTitle' | localize }}
			p(
				v-if="Object.keys(rates).length > 0"
				v-for="cur in currencies"
				:key="cur"
			).currency-line
				span {{ getCurrency(cur) | currency(cur) }}
</template>

<script>
	import currencyMixin from '@/components/app/currencyMixin'

	export default {
		name: 'AccountCurrency',
		mixins: [currencyMixin],
		computed: {
			balance() {
				return this.$store.getters.info.account_balance
			}
		},
		methods: {
			getCurrency(currency) {
				return Math.floor(this.balance * this.rates[currency])
			}
		}
	}
</script>

<style scoped>

</style>