<template lang="pug">
	.card.orange.darken-3.bill-card
		.card-content.white-text
			.card-header
				span.card-title {{ 'ExchangeRatesTitle' | localize }} {{ baseCurrency }}
			table
				thead
					tr
						th {{ 'Currency' | localize }}
						th {{ 'Rate' | localize }}
				tbody
					tr(
						v-if="Object.keys(rates).length > 0 && cur !== baseCurrency"
						v-for="cur in currencies"
						:key="cur"
					)
						td {{ cur }}
						td {{ (1 / +rates[cur]).toFixed(2) }}
</template>

<script>
	import currencyMixin from '@/components/app/currencyMixin'

	export default {
		name: 'AccountExchangeRates',
		mixins: [currencyMixin],
		props: {
			date: {
				type: String,
				default: new Date().getDate()
			}
		}
	}
</script>

<style scoped>

</style>