<template lang="pug">
	div
		.page-subtitle
			h4 {{ 'Edit' | localize }}
		form(
			@submit.prevent="submitHandler"
		)
			.input-field
				select(
					ref="select"
					@change="selectHandler"
				)
					option(
						v-for="category in categories"
						:key="category.id"
						:value="category.id"
					) {{ category.title }}
				label {{ 'SelectCategory' | localize }}
			.input-field
				input#title(
					v-model="selected.title"
					type="text"
					:class="{'invalid': $v.selected.title.$dirty && !$v.selected.title.required}"
				)
				label(for="title") {{ 'Title' | localize }}
				span(
					v-if="$v.selected.title.$dirty && !$v.selected.title.required"
				).helper-text.invalid {{ 'CategoryTitleRequired' | localize }}
			.input-field
				input#limit(
					v-model.number="selected.limit"
					type="number"
					:class="{'invalid': $v.selected.limit.$dirty && !$v.selected.limit.minValue}"
				)
				label(for="limit") {{ 'Limit' | localize }}
				span(
					v-if="$v.selected.limit.$dirty && !$v.selected.limit.minValue"
				).helper-text.invalid {{ 'LimitMinValue' | localize($v.selected.limit.$params.minValue.min)}}
			button.btn.waves-effect.waves-light(type="submit") {{ 'Update' | localize }}
				i.material-icons.right send
</template>

<script>
	import M from 'materialize-css'
	import { required, minValue } from 'vuelidate/lib/validators'

	export default {
		name: 'CategoryEdit',
		props: {
			categories: {
				type: Array,
				required: true,
				default: () => []
			}
		},
		data() {
			return {
				select: null,
				selected: { ...this.categories[0] },
			}
		},
		validations: {
			selected: {
				id: { required },
				title: { required },
				limit: { minValue: minValue(1) }
			}
		},
		mounted() {
			this.select = M.FormSelect.init(this.$refs.select)
			M.updateTextFields()
		},
		destroyed() {
			if (this.select && this.select.destroy) {
				this.select.destroy()
			}
		},
		methods: {
			selectHandler({ target: { value } }) {
				this.selected = this.categories.find(c => c.id === value)
			},
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch()
					return
				}

				try {
					await this.$store.dispatch('updateCategory', this.selected)
					this.$message('Message_CategoryUpdatedSuccess')
					this.$emit('updated', this.selected)
				} catch (e) {
					this.$error(e)
				}
			}
		}
	}
</script>

<style scoped>

</style>