<template lang="pug">
	div
		.page-subtitle
			h4 {{ 'Create' | localize }}
		form(
			@submit.prevent="submitHandler"
		)
			.input-field
				input#title(
					v-model="title"
					type="text"
					:class="{'invalid': $v.title.$dirty && !$v.title.required}"
				)
				label(for="title") {{ 'CategoryTitle' | localize }}
				span(
					v-if="$v.title.$dirty && !$v.title.required"
				).helper-text.invalid {{ 'CategoryTitleRequired' | localize }}
			.input-field
				input#limit(
					v-model.number="limit"
					type="number"
					:class="{'invalid': $v.limit.$dirty && !$v.limit.minValue}"
				)
				label(for="limit") {{ 'Limit' | localize }}
				span(
					v-if="$v.limit.$dirty && !$v.limit.minValue"
				).helper-text.invalid {{ 'LimitMinValue' | localize($v.limit.$params.minValue.min)}}
			button.btn.waves-effect.waves-light(type="submit") {{ 'Create' | localize }}
				i.material-icons.right send
</template>
<script>
	import { required, minValue } from 'vuelidate/lib/validators'
	import M from 'materialize-css'

	export default {
		name: 'CategoryCreate',
		props: {},
		data() {
			return {
				title: '',
				limit: 1
			}
		},
		validations: {
			title: { required },
			limit: { minValue: minValue(1) }
		},
		computed: {},
		mounted() {
			M.updateTextFields()
		},
		methods: {
			async submitHandler() {
				if (this.$v.$invalid) {
					this.$v.$touch()
					return
				}
				try {
					const category = await this.$store.dispatch('createCategory', {
						title: this.title,
						limit: this.limit
					})
					this.title = ''
					this.limit = 1
					this.$v.$reset()
					this.$message('Message_CategoryAddedSuccess')
					this.$emit('created', category)
				} catch (e) {
					this.$error(e)
				}
			}
		}
	}
</script>

<style scoped>

</style>