<template lang="pug">
	table.highlight
		thead
			tr
		tbody
			template(
				v-for="([date, record], idx) in records"
			)
				td {{ date | date('date') | dateTitle }}
				router-link(
					v-for="item in record"
					:key="item.id"
					tag='tr'
					:to='`/detail/${item.id}`'
				).pointer
					td
					td
							span(
								:class='{"green-text": item.type === "income"}'
							) {{ item.type === "income" ? '+' : '-' }} {{ '&nbsp;' }}
							span {{ item.amount | currency('RUB') }}
					router-link(
						tag='td'
						:to='`/categories`'
					) {{ item.categoryName }}
</template>

<script>
	import localize from '@/filters/localize.filter'
	export default {
		name: 'HistoryTable',
		props: {
			records: {
				type: Array,
				required: true,
				default: () => []
			}
		},
		data() {
			return {
				viewButtonTooltip: localize('View')
			}
		},
	}
</script>

<style scoped>

</style>