<template lang="pug">
	#app
		component(
			:is="layout"
		)
			router-view.container
</template>

<script>
	import M from 'materialize-css'
	import EmptyLayout from '@/layouts/EmptyLayout'
	import MainLayout from '@/layouts/MainLayout'

	export default {
		components: {
			EmptyLayout,
			MainLayout
		},
		computed: {
			layout() {
				return (this.$route.meta.layout || 'main') + '-layout'
			}
		},
		mounted() {
			M.AutoInit()
		}
	}
</script>

<style lang="scss">
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
	}

	#nav {
		padding: 30px;

		a {
			font-weight: bold;
			color: #2c3e50;

			&.router-link-exact-active {
				color: #42b983;
			}
		}
	}
</style>
