<template lang="pug">
	.grey.darken-1.empty-layout
		router-view
</template>

<script>
	import messages from '@/utils/messages'
	import localize from '@/filters/localize.filter'

	export default {
		name: 'EmptyLayout',
		props: {},
		data() {
			return {}
		},
		computed: {
			error() {
				return this.$store.getters.error
			}
		},
		watch: {
			error(fbError) {
				this.$error(messages[fbError.code] || localize('SomethingWrong'))
			}
		},
		mounted() {
		},
		methods: {}
	}
</script>

<style scoped></style>
