<template lang="pug">
	div
		loader(
			v-if="loading"
		)
		.app-main-layout(
			v-else
		)
			navbar(
				:user="user"
				:account_balance="info.account_balance"
				@click="isOpen = !isOpen"
				@logout='logout'
			)
			sidebar(
				:info="info"
				v-model="isOpen"
				:key="locale"
				@click='isOpen = false'
				@logout='logout'
			)
			main(
				:class="{'full': isOpen === false}"
			).app-content
				.app-page
					router-view
			.fixed-action-btn
				router-link(to="/record").btn-floating.btn-large.blue
					i.large.material-icons add
</template>

<script>
	import Navbar from '../components/app/Navbar'
	import Sidebar from '../components/app/Sidebar'
	import { mapGetters } from 'vuex'
	import messages from '@/utils/messages'
	import localize from '@/filters/localize.filter'

	export default {
		name: 'MainLayout',
		components: {
			Navbar,
			Sidebar
		},
		props: {},
		data() {
			return {
				isOpen: false,
				loading: true
			}
		},
		computed: {
			...mapGetters(['user', 'info']),
			error() {
				return this.$store.getters.error
			},
			locale() {
				return this.$store.getters.info.locale
			}
		},
		watch: {
			error(fbError) {
				this.$error(messages[fbError.code] || localize('SomethingWrong'))
			},
		},
		async mounted() {
			if (!Object.keys(this.info).length) {
				await this.$store.dispatch('fetchInfo')
			}
			this.loading = false
		},
		methods: {
			async logout() {
				await this.$store.dispatch('logout').then(() => {
					this.$router.push('/login?message=logout')
				})
			}
		}
	}
</script>

<style scoped></style>
